@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #ffffff;
  }

  input {
    @apply outline-primary
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: initial;
    font-weight: initial;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}


/* React Quill Custom Styles */
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: white;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.ql-editor {
  min-height: 18em;
}